@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik:wght@400;700&display=swap');
body {
  margin: 0;
  width: 100vw;
  font-family: 'Rubik', sans-serif;
}

header img {
  margin-top: 1.7vw;
  padding: 0 9vw;
}
.nav {
  display: flex;
  padding: 0 9vw;
}
.nav a {
  display: block;
  color: #99A2AA;
  text-decoration: none;
  font-size: 16px;
  padding: 20px 0;
  margin-right: 30px;
}
.nav a:hover {
  color: #4e90d3;
}
.prepay {
  min-height: 75vh;
  background-color: #FEC524;
  padding: 0 9vw;
}
.prepay h1 {
  display: block;
  width: 30vw;
  color: white;
  padding-top: 54px;
  font-size: 44px;
}
.prepay p {
  color: #0E2F4B;
  font-size: 16px;
}
.services-container {
  height: 120vh;
  background-color: #F8F8F8;
}
.services {
  padding: 9vw;
  display: flex;
  position: relative;
}
.service-active {
  width: 30vw;
  flex-shrink: 0;
}
.services h1 {
  font-size: 48px;
}
.service-active p {
  color: #0E2F4B;
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
  font-size: 16px;
}
.service-list {
  display: flex;
  flex-wrap: wrap;
  height: 60%;
}
.service-item {
  padding: 1vw 0 4vw 5vw;
  width: 21vw;
}
.service-item h3 {
  font-size: 24px;
}
.service-item a {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: #0E2F4B;
  line-height: 20px;
}
.service-item a:hover {
  color: #5f869f;
}
.delivery-form {
  position: absolute;
  top: -20vh;
}
.delivery-form-input {
  display: block;
  width: 36vw;
  color: #757575;
  font-size: 16px;
  border-radius: 7px;
  border: none;
  padding: 22px;
  box-shadow: 0px 3px 35px 0px #5F62662B;
}
.buttons {
  display: flex;
  justify-content: space-between;
  width: 80vw;
}
.delivery-form button {
  width: 19vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 7px;
  border: none;
  padding: 11px 20px;
  box-shadow: 0px 5px 35px 0px #5F62662B;
  margin-top: 27px;
}
.delivery-form button:hover {
  box-shadow: 0px 10px 55px 0px rgba(41, 42, 44, 0.17);
}
.inter {
  min-height: 85vh;
  background-color: #042C4B;
  padding: 0 9vw;
}
.inter h1 {
  display: block;
  width: 50vw;
  color: white;
  padding-top: 74px;
  font-size: 48px;
}
.inter p {
  color: #99A2AA;
  padding-bottom: 27px;
}
.inter button {
  width: 19vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 7px;
  border: none;
  padding: 20px;
  background-color: #FDC13D;
  font-size: 20px;
  font-weight: 700;
}
.financial {
  padding: 0 9vw;
  height: 65vw;
}
.financial-top {
  background-color: #FDC13D;
  margin-top: 15vh;
  border-radius: 7px;
  padding: 3vw 5vw;

}
.financial h3 {
  font-size: 24px;
}
.financial a {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: #0E2F4B;
  line-height: 20px;
}
.financial h1 {
  font-size: 48px;
  margin-top: 20vh;
}
.financial-services {
  display: flex;
}
.financial-item {
  width: 15vw;
}
.financial-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 59vw;
}
